.grid-container {
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr); /* --columns will be passed via style prop, equal width */
    grid-template-rows: repeat(var(--rows), 1fr); /* --rows will be pased via style prop */
    gap: 10px; /* Spacing btwn grid items */
    color: var(--light-text);
}

.grid-item {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
}

.grid-item.seen {
    background-color: var(--invalid-bg) !important;
    color: var(--invalid-text);
}

.header {
    font-weight: bold;
    font-size: 1.2em;
}
