:root {
    --background-color: #0b3d91;
    --light-text: white;
    --invalid-text: #888;
    --invalid-bg: #ccc;
    --hover-bg: #ddd;
    --selected-bg: #f8d64d;
    --selected-border: 2px solid #ffae00;
}

body {
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    margin: 0;
    height: 100%;
    background: linear-gradient(90deg, #0b3d91, #1e6bd8);
    font-family: Copperplate, impact;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

button {
    font-family: Copperplate, impact;
}

.selected {
    background: var(--selected-bg) !important;
    border: var(--selected-border) !important;
    font-weight: bold !important;
}