.instructions-page {
    width: 75%;
    margin: 0 auto;
    padding: 2rem;
    background: var(--background-color);
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.07);
    color: var(--light-text);
    font-size: 1.5rem;
}

.highlight {
    color: var(--selected-bg);
}